body {
    background-image: url('/static/img/black_hole.gif') ;  
    background-repeat: no-repeat;
    background-position: right top; 
    background-color: #000; 
    font-family: 'Courier New', monospace;
}

.titulo {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ff5722;
    animation: fuego 3s ease-in-out infinite;
}
@keyframes fuego {
    0%, 100% { color: #ff5722; text-shadow: 0 0 5px #ff5722; }
    50% { color: #ffeb3b; text-shadow: 0 0 10px #ffeb3b; }
}

.logo {
    height: 48px;
    width: 48px;
    vertical-align: middle;
    margin-right: 8px;
}

#winamp-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2); /* escala 1.5x */
    transform-origin: center center;
    z-index: 9999;
}

.skin-buttons ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skin-buttons li {
    margin-bottom: 6px; /* Espaciado entre botones */
}

.skin-buttons button {
  background-color: transparent;
  border: 2px solid #ff5722;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 20px;
  margin: 5px;
  font-weight: bold;
  font-family: 'Courier New', monospace;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.skin-buttons button:hover {
    background-color: rgba(247, 90, 79, 0.2); /* Azul translúcido */
    box-shadow: 0 0 12px rgba(247, 141, 79, 0.9);
}





