{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Cóclea.cl</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
</head>
<body>

    <div class="contenedor-main">
        <div class="titulo">
            <h1>Cóclea.cl</h1> 
            <img src="{% static 'img/logo.png' %}" alt="logo" class="logo">
        </div>  
        <div>
        <button id="cambiar-fondo" class="boton-fondo">Cambiar fondo</button>
        <button id="toggle-skins" class="mostrar-skins">Skins</button>
    </div>

    <button id="abrir-mini" class="mini">abrir mini player</button>
    <!--.producto$*5 DESPUES DEL PUNTO NOMBRE X y DESPUES LA CANTIDAD DE DIV--> 
    
    

    <div id="skin-buttons" class="skin-buttons" style="display: none;">
        <ul>
            <li><button data-skin="/static/emisoras/skins/Soul_Reaver.wsz">Soul Reaver</button></li>
            <li><button data-skin="/static/emisoras/skins/future.wsz">Future</button></li>
            <li><button data-skin="/static/emisoras/skins/Sony CDX-MP3.wsz">Sony CDX-MP3</button></li>
            <li><button data-skin="/static/emisoras/skins/Sony_Esprit.wsz">Sony Esprit</button></li>
            <li><button data-skin="/static/emisoras/skins/Winamp_X_v.10.wsz">MacOS X</button></li>
            <li><button data-skin="/static/emisoras/skins/Panasonic.wsz">Panasonic</button></li>
            <li><button data-skin="/static/emisoras/skins/Hitman.wsz">Hitman</button></li>
            <li><button data-skin="/static/emisoras/skins/aqua.wsz">Aqua</button></li>
            <li><button data-skin="/static/emisoras/skins/Pioneer.wsz">Pioneer</button></li>
            <li><button data-skin="/static/emisoras/skins/WindowsMediaPlayer.wsz">WindowsMediaPlayer</button></li>
        </ul>
    </div>


    <div id="winamp-container"></div>


    <script src="https://unpkg.com/webamp@latest/built/webamp.bundle.min.js"></script>
    <script src="{% static 'emisoras/js/mostrar_skins.js' %}"></script>
    <script src="{% static 'emisoras/js/cambiar_fondo.js' %}"></script>
    <script src="{% static 'emisoras/js/reproductor.js' %}"></script>
    <script src="{% static 'emisoras/js/mini_player.js' %}"></script>
</body>
</html>
