{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cóclea.cl - Escucha radios online con el clásico reproductor Winamp y personaliza tu experiencia con distintos skins.">
    <meta name="keywords" content="radios online, winamp, skins, reproductor, música, cóclea">
    <meta name="author" content="Cóclea.cl">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Cóclea.cl</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
</head>

<body>

    <div id="chat-lateral">
        <section id="muro-mensajes">
            <h2>Muro de mensajes</h2>

            <form id="form-muro">
                {% csrf_token %}
                <input type="text" id="nombre" placeholder="Tu nombre" maxlength="30" required>
                <textarea id="mensaje" placeholder="Escribe tu mensaje(max 500 caracteres)" maxlength="500" required></textarea>
                <button type="submit">Enviar</button>
            </form>

            <ul id="lista-mensajes">
                {% for m in mensajes %}
                    <li>
                        <strong>{{ m.nombre }}</strong>
                        <small>{{ m.fecha|date:"H:i" }}</small><br>
                        {{ m.mensaje }}
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>

    <div class="contenedor-main">
        <div class="titulo">
            <h1>Cóclea.cl</h1> 
            <img src="{% static 'img/logo.png' %}" alt="logo" class="logo">
        </div>  
        <div>
        <button id="cambiar-fondo" class="boton-fondo">Cambiar fondo</button>
        <button id="toggle-skins" class="mostrar-skins">Skins</button>
    </div>

    <button id="abrir-mini" class="mini">abrir mini player</button>
    <!--.producto$*5 DESPUES DEL PUNTO NOMBRE X y DESPUES LA CANTIDAD DE DIV--> 
    
    

    <div id="skin-buttons" class="skin-buttons" style="display: none;">
        <ul>
            <li><button data-skin="/static/emisoras/skins/Soul_Reaver.wsz">Soul Reaver</button></li>
            <li><button data-skin="/static/emisoras/skins/future.wsz">Future</button></li>
            <li><button data-skin="/static/emisoras/skins/Sony CDX-MP3.wsz">Sony CDX-MP3</button></li>
            <li><button data-skin="/static/emisoras/skins/Sony_Esprit.wsz">Sony Esprit</button></li>
            <li><button data-skin="/static/emisoras/skins/Winamp_X_v.10.wsz">MacOS X</button></li>
            <li><button data-skin="/static/emisoras/skins/Panasonic.wsz">Panasonic</button></li>
            <li><button data-skin="/static/emisoras/skins/Hitman.wsz">Hitman</button></li>
            <li><button data-skin="/static/emisoras/skins/aqua.wsz">Aqua</button></li>
            <li><button data-skin="/static/emisoras/skins/Pioneer.wsz">Pioneer</button></li>
            <li><button data-skin="/static/emisoras/skins/WindowsMediaPlayer.wsz">WindowsMediaPlayer</button></li>
        </ul>
    </div>


    <div id="winamp-container"></div>

    <script>
    
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.startsWith(name + "=")) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie("csrftoken");

        document.getElementById("form-muro").addEventListener("submit", function(e) {
            e.preventDefault();

            const nombre = document.getElementById("nombre").value.trim();
            const mensaje = document.getElementById("mensaje").value.trim();

            if (!nombre || !mensaje) return;

            const data = new FormData();
            data.append("nombre", nombre);
            data.append("mensaje", mensaje);

            fetch("/publicar-mensaje/", {
                method: "POST",
                headers: {
                    "X-CSRFToken": csrftoken
                },
                body: data
            })
            .then(res => res.json())
            .then(data => {
                if (data.error) return;

                const fechaLocal = new Date(data.fecha).toLocaleTimeString("es-CL", {
                    day:"2-digit",
                    month:"2-digit",
                    year:"numeric",
                    hour: "2-digit",
                    minute: "2-digit"
                });

                const li = document.createElement("li");
                li.innerHTML = `<strong>${data.nombre}</strong>
                                <small>${fechaLocal}</small><br>
                                ${data.mensaje}`;

                document.getElementById("lista-mensajes").prepend(li);
                document.getElementById("mensaje").value = "";
            });
        });
    </script>

    <script>
        function cargarMensajes() {
            fetch("/obtener-mensajes/")
                .then(res => {
                    if (!res.ok) throw new Error("HTTP" + res.status);
                    return res.json();
                })

                .then(data => {
                    const lista = document.getElementById("lista-mensajes");
                    lista.innerHTML = "";

                    data.forEach(m => {
                        const fechaLocal = new Date(m.fecha).toLocaleTimeString("es-CL", {
                            day:"2-digit",
                            month:"2-digit",
                            year:"numeric",
                            hour: "2-digit",
                            minute: "2-digit"
                        });

                        const li = document.createElement("li");
                        li.innerHTML = `<strong>${m.nombre}</strong>
                                        <small>${fechaLocal}</small><br>
                                        ${m.mensaje}`;
                        lista.appendChild(li);
                    });
                })
                .catch(err => console.log("No refresca la wea", err));
        }

        // refresca cada 5 segundos
        cargarMensajes();
        setInterval(cargarMensajes, 5000);
    </script>


    <script src="https://unpkg.com/webamp@latest/built/webamp.bundle.min.js"></script>
    <script src="{% static 'emisoras/js/mostrar_skins.js' %}"></script>
    <script src="{% static 'emisoras/js/cambiar_fondo.js' %}"></script>
    <script src="{% static 'emisoras/js/reproductor.js' %}"></script>
    <script src="{% static 'emisoras/js/mini_player.js' %}"></script>
</body>
</html>
