{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Cóclea.cl</title>
</head>
<body>

    <div class="titulo">
        <h1>Cóclea.cl</h1> 
        <img src="{% static 'img/logo.png' %}" alt="logo" class="logo">
    </div>


    
    <div id="skin-buttons" class="skin-buttons">
        <ul>

            <li><button data-skin="/static/emisoras/skins/Frutiger_Aero.wsz">Frutiger Aero</button></li>
            <li><button data-skin="/static/emisoras/skins/Khoa_Vuong.wsz">Khoa Vuong</button></li>
            <li><button data-skin="/static/emisoras/skins/Sony CDX-MP3.wsz">Sony CDX-MP3</button></li>
            <li><button data-skin="/static/emisoras/skins/Sony_Esprit.wsz">Sony Esprit</button></li>
            <li><button data-skin="/static/emisoras/skins/Winamp_X_v.10.wsz">MacOS X</button></li>

            <li><button data-skin="/static/emisoras/skins/amphibological_entity.wsz">Amphibological</button></li>
            <li><button data-skin="/static/emisoras/skins/Groove_Robber.wsz">Groove Robber</button></li>
            <li><button data-skin="/static/emisoras/skins/Necromech.wsz">Necromech</button></li>
            <li><button data-skin="/static/emisoras/skins/Syrogenesis_V1.wsz">Syrogenesis</button></li>
            <li><button data-skin="/static/emisoras/skins/WindowsMediaPlayer.wsz">WindowsMediaPlayer</button></li>

        </ul>
    </div>


   
    <div id="winamp-container"></div>


    <script src="https://unpkg.com/webamp@latest/built/webamp.bundle.min.js"></script>
    <script src="{% static 'emisoras/js/reproductor.js' %}"></script>
</body>
</html>
